.blue_box h1{
    font-size: 50px;
    color: #FFFFF0;
}

.blue_box p{
    color: #FFFFF0;
}

.blue_box {
    background-image: url("../backbround_image/ufo_ship.jpg.webp");
    border-radius: 50px;
    padding: 30px;
    margin-left: 50px; 
    margin-right: 50px; 
}